@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

nav {
    grid-area: navbar;

    .menu {
        display: flex;
        gap: var.$spacing-sm;
        padding: var.$spacing-sm;

        background-color: var.$color-primary-200;
        border-bottom: 1px solid var.$color-primary-300;
        box-shadow: var.$box-shadow-md;

        &__item {
            font-size: var.$font-size-lg;
            font-weight: var.$font-weight-regular;
            color: var.$color-primary-500;
            text-shadow: var.$text-shadow-md;

            &:hover,
            &--active {
                font-weight: var.$font-weight-bold;
            }
        }

    }
}