@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-home {
    .welcome {
        display: flex;
        flex-direction: column;
        gap: var.$spacing-xl;

        .box {
            border: 1px solid black;

            &__text {
                color: white;
                padding: var.$spacing-sm;
                @include mix.text-borders(var.$color-neutro-700);
            }

            &--a {
                height: 200px;
                width: 200px;
                background-color: darkorange;
            }

            &--b {
                height: 150px;
                width: 150px;
                background-color: darkred;
            }

            &--c {
                height: 100px;
                width: 100px;
                background-color: yellow;
            }

            &--d {
                height: 100%;
                width: 200px;
                background-color: lightblue;
            }

            &--e {
                height: 200px;
                width: 200px;
                overflow: scroll;
                background-color: lightgoldenrodyellow;
            }
        }
    }
}