@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.button {
    width: 7vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 4vh;
    box-shadow: 2px 2px 30px -5px var.$color-neutro-700;

    font-size: var.$font-size-md;
    color: var.$color-neutro-100;
    cursor: pointer;

    &--primary {
        background: linear-gradient(90deg, var.$color-primary-400, var.$color-primary-900);

        &:hover {
            box-shadow: 2px 2px 30px -5px var.$color-primary-700;
        }
    }

    &--success {
        background: linear-gradient(90deg, var.$color-success-300, var.$color-success-900);

        &:hover {
            box-shadow: 2px 2px 30px -5px var.$color-success-700;
        }
    }
}